<ion-header>
  
  <ion-toolbar>
    <header>
      HELMET AUTHENTICATOR
    </header>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>OWNER: VINCIBOI <br> PLATE NUMBER: 2033 UU</p>
  <br> <br><br>
    <div class="Sensors">
      SENSOR 1<ion-toggle color="tertiary" [(ngModel)]="sensor1value" class="sensortoggle1"></ion-toggle> <br>
      SENSOR 2<ion-toggle color="tertiary" [(ngModel)]="sensor2value" class="sensortoggle2"></ion-toggle> <br>
    </div>

   <ion-button
      color=success
      expand=block
      size=default
      fill=solid
      class="clickbutton"
      (click)="startmotorcycle()"
      [disabled]="!sensor1value || !sensor2value">START MOTORCYCLE
    </ion-button>

    <ion-button
      color=secondary
      size=default
      fill=solid
      class="wifibutton"
      (click)="gotowifi()"
      >CONNECT TO WIFI
    </ion-button>

</ion-content>

<ion-footer>
  <ion-button
        size=large
        (click)="gotohome()"
        color=danger 
        shape=round
        class="logoutbutton"> LOGOUT </ion-button>
</ion-footer>