<ion-header>
  <ion-toolbar>
    <h3 class="ion-text-center">
        HELMET AUTHENTICATOR
    </h3>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br><br>

<ion-grid>
  <ion-row>
    <ion-col offset=1 size=11>
      <h4>OWNER: VINCE MARQUEZ</h4>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col offset=1 size=11>
      <h4>PLATE NUMBER: 2033 UU</h4>
    </ion-col>
  </ion-row>

  <br><br><br>

  <ion-row>
    <ion-col offset=3 size=4>
      <h4>
        SENSOR 1 
      </h4>
    </ion-col>
    <ion-col size=2>
      <ion-toggle class="sensor" color="success" [(ngModel)]="sensor1value"></ion-toggle>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset=3 size=4>
      <h4>
        SENSOR 2
      </h4>
    </ion-col>
    <ion-col size=2>
      <ion-toggle class="sensor" color="success" [(ngModel)]="sensor2value"></ion-toggle>
    </ion-col>
  </ion-row>

  <br><br><br>

</ion-grid>

<div class="col ion-text-center">
  <ion-button expand="block" color=secondary size=default fill=solid (click)="open('wifi')">
    <div class="buttons">
      CONNECT TO WIFI
    </div>
  </ion-button>
</div>
<br><br>
<div class="col ion-text-center">
  <ion-button expand="block" color=success size=default fill=solid (click)="startmotorcycle()" [disabled]="!sensor1value || !sensor2value">
    <div class="buttons">
      START MOTORCYCLE
    </div>
  </ion-button>
</div>

</ion-content>

<ion-footer>
  <ion-button
        size=large
        (click)="gotohome()"
        color=danger 
        shape=round
        class="logoutbutton"> 
        LOGOUT 
   </ion-button>
</ion-footer>