.welcometext{
  padding-top: 500px;
  text-align: center;
  font-family: Product Sans;
  font-size: 80px;
  color: black;
}

.loginbutton{
  position: absolute;
  top:920px;
  right: 40px;
  left: 40px;
  font-size: 60px;
  font-family: Product Sans;
}