.welcometext{
  padding-top: 200px;
  text-align: center;
  font-family: Product Sans;
  font-size: 25px;
  color: black;
}

.loginbutton{
  position: absolute;
  top:45%;
  right: 40px;
  left: 40px;
  font-size: 25px;
  font-family: Product Sans;
}