<ion-header>
  <ion-toolbar>
    <h3 class="ion-text-center">
        HELMET AUTHENTICATOR
    </h3>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br><br><br><br><br><br><br><br><br>
    <div class="wcmsg">
      WELCOME, <br>
    </div>
    <div class="name">
      VINCE MARQUEZ!
    </div>
    <div class="col ion-text-center">
      <ion-button
      (click)="gotomain()"
      color=success
      size=large
      fill=solid
     ><h5>LOGIN</h5>
       </ion-button>
    </div>
</ion-content>